<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <div class="post-preview">
                <h2 class="post-title">
                    책을 읽읍시다!!!
                </h2>
            </div>
            <hr>
        </div>
    </div>
</div>
