<ul>
  <% for book_info in @book_infos %>
    <li><%= book_info.bookname %></li>
      <ul>
        <li><%= link_to '상세정보', bookinfo_path(book_info) %></li>
        <li><%= book_info.is_borrowable_str %></li>
      </ul>
  <% end %>
</ul>
